*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main
{
    margin: 0px 66vh 0px 66vh;
}


h1, h2
{
    text-align: center;
    margin: 10px;
}

p
{
  margin: 1.25rem 0px 1.25rem ;
}

code
{
    background: #f5f5f5;
    padding: 2px 6px;
    border-radius: 3px;
    font-family: monospace;
    color: brown;
}

.markup
{
    text-align: left;
    margin: 0px 66vh 0px 66vh;
}

.markup pre
{    
    background: #e6e6e6;
    overflow-x: auto;
}

.markup code
{

    background: #e6e6e6;
}

.markup span
{
    color: black;
}

.markup hr
{
    margin-top: 1.25rem;
}

.tags
{
    margin: 0px 66vh 0px 66vh;
}

.tags code
{
    
    color: rgb(0, 153, 255);   
}